html {
	text-rendering: optimizeLegibility;
}

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/static/palette.jpg');
	background-size: cover;
	background-position: center;
	height: 75vh;
	background-attachment: fixed;
}

.hero-text-box {
	color: white;
	position: absolute;
	height: 20vh;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.long-copy {
	margin-bottom: 30px;
	font-size: 1.7rem;
	text-align: justify;
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: black;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

@media only screen and (max-width: 1200px) {
	.hero-text-box {
		width: 100%;
		padding: 0 2%;
	}

	.row {
		padding: 0 2%;
	}
}

@media only screen and (max-width: 767px) {
	body {
		font-size: 16px;
	}
	section {
		padding: 30px 0;
	}

	.row {
		padding: 0 4%;
	}
	.hero-text-box {
		padding: 0 4%;
	}
}
