{% extends 'index.html' %}

{% block content %}
<!-- <div class="background-pics">
<img id="mainpic1" src="static/woman_wearing_makeup.jpg">
<img id="mainpic2" src="static/powder_makeup.jpg" class="float-right">
<img id="mainpic3" src="static/palette.jpg">
</div> -->
<div class="background-pic">
    <div class="mobile-text">
        <!-- <img class="background-pic" src="/static/palette.jpg"> -->
        <div class="d-flex align-items-center flex-column justify-content-center text-center">
            <div class="centered-mobile">
                <p class="text-light">All of your makeup</p>
                <p class="text-light">All in one place</p>
                <div class="d-flex justify-content-center">
                    <a href="/collection" class="btn btn-primary float-right mb-3">My Collection</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="centered">
    <span class="center-span" style="backdrop-filter: blur(6px);">
        <h4 class="display-3">All your makeup</h4>
        <p class="lead text-right mr-5">All in one place</p>
        <span class="d-flex justify-content-end offset">
            <a href="/collection" class="btn btn-primary float-right mb-3">My Collection</a>
        </span>
    </span>
</div>



<!-- <script>
function noScroll() {
    window.scrollTo(0, 0)
}

window.addEventListener('scroll', noScroll)
</script> -->
{% endblock %}
