<table class="w-100 text-center mb-2">
    <!-- <tr>
      <th>Name:</th>
      <td>{{product.name}}</td>
    </tr> -->
    <tr>
      <th>Brand:</th>
      <td>{{product.brand.name}}</td>
    </tr>
    <tr>
      <th>Category:</th>
      <td>{{product.category.name.capitalize()}}</td>
    </tr>
    <tr>
      <th>Type:</th>
      <td>{{product.product_type.name.capitalize()}}</td>
    </tr>
    <tr>
      <th>Color:</th>
      <td>{{product.color}}</td>
    </tr>
    <tr>
      <th>Price:</th>
      <td>{{product.price}}</td>
    </tr>
</table>
